{% macro schema_class_table(class, schema, inTable=false) %}
    {%- if not inTable %}
        <table class="table table-zebra w-full">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Expected Type</th>
                    <th>Description</th>
                </tr>
            </thead>
    {%- endif %}
        <tbody class="subclass">
        <tr>
            <th colspan="3" class="bg-base-200">
                <link property="rdfs:subClassOf" href="http://oerschema.org/{{ class.label }}">
                {%- if class.baseVocab %}
                    <link property="rdfs:subClassOf" href="{{ class.baseVocab }}{{ class.label }}">
                {%- endif %}
                Properties of <a href="/{{ class.label }}" class="link link-primary">{{ class.label }}</a>
            </th>
        </tr>
        {%- if class.properties %}
            {%- for name in class.properties %}
                {% set property = schema.properties[name] %}
                <tr typeof="rdfs:Property" resource="http://oerschema.org/{{ name }}/">
                    <td class="property-label" property="rdfs:label"><a href="/{{ name }}" class="link link-primary">{{ name }}</a></td>
                    <td class="property-range">
                        {%- for range in property.range|sort %}
                            <link property="rangeIncludes" href="http://oerschema.org/{{ range }}">
                            {%- if class.baseVocab %}
                                <link property="rangeIncludes" href="{{ class.baseVocab }}{{ range }}">
                            {%- endif %}
                            <a href="/{{ range }}/" class="link link-primary">{{ range }}</a> {{ "or" if not loop.last }}
                        {%- endfor %}
                    </td>
                    <td class="property-comment" property="rdfs:comment">{{ property.comment }}</td>
                </tr>
            {%- endfor %}
        {%- endif %}
        </tbody>
        {%- if class.subClassOf %}

            {%- for subClass in class.subClassOf %}
                {% set sc = schema.classes[subClass|trim] %}
                {%- if not subClass|match('/^[^:]+:/') %}
                    {{ schema_class_table(sc, schema, inTable=true) }}
                {%- else %}
                    <tbody>
                        <tr>
                            <th colspan="3" class="bg-base-200">
                                <link property="rdfs:subClassOf" href="{{ subClass }}">
                                Extends class
                                {% if subClass|match('/^https?:\/\//') %}
                                    <a href="{{ subClass}}" target="_blank" class="link link-primary font-bold">{{ subClass }}</a>
                                {% else %}
                                    <span class="font-bold">{{ subClass }}</span>
                                {% endif %}
                            </th>
                        </tr>
                    </tbody>
                {%- endif %}
            {%- endfor %}
        {%- endif %}
    {%- if not inTable %}
        </table>
    {%- endif %}
{% endmacro %}

{% macro schema_class_breadcrumbs(class, schema, rendered=[]) %}
    {%- if rendered|length == 0 %}
        {% set rendered = [class.label] %}
    {%- endif %}
    {%- if class.subClassOf %}
        {%- for subClass in class.subClassOf %}
            {%- if subClass in schema.classes|keys and not subClass in rendered %}
                {% set rendered = rendered|merge([subClass]) %}
                {{ schema_class_breadcrumbs(schema.classes[subClass], schema, rendered) }}
            {%- endif %}
        {%- endfor %}
    {%- elif rendered|length > 0 -%}
        {%- for sc in rendered|reverse %}
            <a href="/{{ sc }}" class="text-primary-content hover:text-primary">{{ sc }}</a>
            {% if not loop.last %} > {% endif %}
        {%- endfor %}
    {%- endif %}
{% endmacro %}

{% macro schema_property_breadcrumbs(property, schema) %}
    {{ schema_class_breadcrumbs(schema.classes['Property'], schema) }}
    > <a href="/{{ property.label }}" class="text-primary-content hover:text-primary">{{ property.label }}</a>
{% endmacro %}

{% macro schema_class_dependencies(className, schema) %}
    {% set list = [] %}
    {% for name, obj in schema.classes %}
        {% if className in obj.subClassOf|merge([]) %}
            {% set list = list|merge([name])|sort %}
        {% endif %}
    {% endfor %}
    <ul class="list-disc pl-6">
        {% for item in list %}
            <li><a href="/{{ item }}" class="link link-primary">{{ item }}</a></li>
        {% else %}
            <li><em>This is the most specific of this type.</em></li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro schema_class_tree(schema, seed, list=[]) -%}
    {%- for name, obj in schema.classes -%}
        {%- if obj.schema == seed -%}
            {%- set list = list|merge([name])|sort -%}
        {%- elif seed in obj.subClassOf|merge([]) -%}
            {%- set list = list|merge([name])|sort -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if not list|empty -%}
        <ul class="schema-tree list-none pl-4 border-l border-gray-300">
            {%- for item in list -%}
                <li class="py-1">
                    <a href="/{{ item }}" class="link link-primary">{{ item }}</a>
                    {{ schema_class_tree(schema, seed=item) }}
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endmacro %}

{% macro schema_class_for_props(className, schema) %}
    {% set list = [] %}
    {%- for name, property in schema.properties %}
        {% if className in property.range|merge([]) %}
            {% set list = list|merge([name])|sort %}
        {% endif %}
    {%- endfor %}
    <table class="table table-zebra w-full">
        <thead>
            <tr>
                <th>Property</th>
                <th>On Types</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {%- for item in list %}
                {% set property = schema.properties[item] %}
                <tr>
                    <td>
                        <a href="/{{ item }}" class="link link-primary">{{ item }}</a>
                    </td>
                    <td>
                        {%- for class in property.domain|sort %}
                            {%- if not class|match('/.+:.*.') %}
                                <a href="/{{ class }}" class="link link-primary">{{ class }}</a><br>
                            {%- endif %}
                        {%- endfor %}
                    </td>
                    <td>
                        {{ property.comment|safe }}
                    </td>
                </tr>
            {%- else %}
                <tr>
                    <td class="text-center" colspan="3"><em>This type hasn't been used on any properties, yet.</em></td>
                </tr>
            {%- endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro schema_code_samples(className) %}
    <div class="flex flex-col">
        <div class="tabs tabs-boxed mb-4">
            <a href="#" class="tab tab-active" onclick="showTab('default'); return false;">Without Markup</a>
            <a href="#" class="tab" onclick="showTab('rdfa'); return false;">HTML5+RDFa</a>
            <a href="#" class="tab" onclick="showTab('micro'); return false;">Microdata</a>
            <a href="#" class="tab" onclick="showTab('jsonld'); return false;">JSON+LD</a>
        </div>
        
        <div id="default-tab" class="tab-content">
            {%- code "html" %}
                {%- include "samples/" + className + "/default.html" ignore missing -%}
            {%- endcode %}
        </div>
        <div id="rdfa-tab" class="tab-content hidden">
            {%- code "html" %}
                {%- include "samples/" + className + "/rdfa.html" ignore missing -%}
            {%- endcode %}
        </div>
        <div id="micro-tab" class="tab-content hidden">
            {%- code "html" %}
                {%- include "samples/" + className + "/microdata.html" ignore missing -%}
            {%- endcode %}
        </div>
        <div id="jsonld-tab" class="tab-content hidden">
            {%- code "html" %}
                {%- include "samples/" + className + "/jsonld.html" ignore missing -%}
            {%- endcode %}
        </div>
    </div>

    <script>
    function showTab(tabName) {
        // Hide all tab contents
        document.querySelectorAll('.tab-content').forEach(tab => {
            tab.classList.add('hidden');
        });
        
        // Remove active class from all tabs
        document.querySelectorAll('.tab').forEach(tab => {
            tab.classList.remove('tab-active');
        });
        
        // Show the selected tab content
        document.getElementById(tabName + '-tab').classList.remove('hidden');
        
        // Add active class to the clicked tab
        document.querySelector(`.tab[onclick*="${tabName}"]`).classList.add('tab-active');
    }
    </script>
{% endmacro %}