{% extends "templates/base.njk" %}
{% import "macros/schema.njk" as macros %}

{% set action = 'schema' %}
{% set property = schema.properties[objName] %}
{% set title = objName %}

{% block content %}
    <div class="schema-content container max-w-4xl mx-auto" vocab="http://oerschema.org/" typeof="rdfs:Property" resource="http://oerschema.org/{{ property.label }}">
        <span class="float-right text-neutral-500">v{{ schema.version }}</span>
        <h1 property="rdfs:label" class="text-3xl font-bold mb-4">{{ property.label }}</h1>
        <link property="rdfs:subClassOf" href="http://oerschema.org/Property">
        {% if property.alternateType %}
            <link property="alternateType" href="{{ property.alternateType }}">
        {% endif %}
        {% if property.alternateName %}
            <meta property="alternateName" content="{{ property.alternateName}}">
        {% endif %}
        <div class="breadcrumbs mb-4">
            <div class="flex flex-wrap gap-1 items-center">
                {{ macros.schema_property_breadcrumbs(property, schema) }}
            </div>
        </div>
        <p property="rdfs:comment" class="mb-6">{{ property.comment|safe }}</p>
        {% if property.range %}
            <div class="mb-8">
                <table class="table table-zebra w-full">
                    <thead>
                        <tr>
                            <th>Values expected to be these</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%- for range in property.range %}
                            <tr>
                                <td>
                                    <link property="rangeIncludes" href="{{ range }}">
                                    <a href="http://oerschema.org/{{ range }}" class="link link-primary">{{ range }}</a>
                                </td>
                            </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if property.domain %}
            <div class="mb-8">
                <table class="table table-zebra w-full">
                    <thead>
                        <tr>
                            <th>Used on these types</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%- for class in property.domain|sort %}
                            {% if class|match('/.+:.*.') %}
                                <link property="domainIncludes" href="{{ class }}">
                            {% else %}
                                <tr>
                                    <td>
                                        <link property="domainIncludes" href="{{ class }}">
                                        {% if property.baseVocab %}
                                            <link property="domainIncludes" href="{{ property.baseVocab }}{{ class }}">
                                        {% endif %}
                                        <a href="http://oerschema.org/{{ class }}" class="link link-primary">{{ class }}</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}